---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="posts">
  <h1>✍️ Posts</h1>
  <ul>
    <li>
      <a href="/posts/functional">Functional Programming - How and Why</a>
    </li>
    <li>
      <a href="/posts/javascript">JavaScript is Misunderstood</a>
    </li>
    <li>
      <a href="/posts/language">Thoughts About a New Scripting Language</a>
    </li>
  </ul>
</BaseLayout>
