:root {
  --color-text: #111;
  --color-bg: rgba(254, 254, 254, 0.5);
  --color-selection-bg: #111;
  --color-selection-text: #fefefe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #eee;
    --color-bg: rgba(17, 17, 17, 0.5);
    --color-selection-bg: #eee;
    --color-selection-text: #111;
  }
}

html {
  background: #fefefe;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #111;
  }
}

* {
  margin: 0;
  line-height: 1;
  font-family:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  color: var(--color-text);
  font-size: 1rem;
  -webkit-text-fill-color: var(--color-text);
  -webkit-text-stroke-width: 0.003em;
  -webkit-text-stroke-color: var(--color-text);
}

* ::selection {
  background: var(--color-selection-bg);
  color: var(--color-selection-text);
}

body {
  margin-left: 2ch;
  margin-top: 1lh;
  color: var(--color-text);
}

@media (min-width: 600px) {
  body {
    margin-left: 4ch;
    margin-top: 2lh;
  }
}

a {
  color: var(--color-text);
  text-underline-offset: 0.15em;
  text-decoration-color: rgba(17, 17, 17, 0.3);
  transition: text-decoration-color 0.2s ease;
}

a:hover {
  text-decoration-color: rgba(17, 17, 17, 0.8);
}

@media (prefers-color-scheme: dark) {
  a {
    text-decoration-color: rgba(238, 238, 238, 0.3);
  }
  a:hover {
    text-decoration-color: rgba(238, 238, 238, 0.8);
  }
}

h1::before {
  content: "# ";
}
