<!-- TODO: add a last updated! -->
<footer style="text-align: center;">
  <i>
    <p>
      Website made with ❤️ by me. View the code on
      <a href="https://github.com/onsclom/my-website">GitHub</a>!
    </p>
  </i>
</footer>
