<div>
  <p>I am <code id="age">loading</code> years old</p>
  <div>
    👶 <progress
      style="display:float; margin: 0; max-width: 10rem"
      id="progress"
      value="50"
      max="1000"
    >
    </progress> 💀
  </div>
  <small>(based on average age span)</small>

  <script>
    import dayjs from "dayjs"
    const age = document.getElementById("age")
    const progress = document.getElementById("progress") as HTMLProgressElement
    function updateAge() {
      const birth = dayjs("1998-04-02")
      const ageNum = dayjs().diff(birth, "year", true)
      age!.innerText = dayjs().diff(birth, "year", true).toFixed(10)
      progress!.value = (ageNum / 80) * 1000
      requestAnimationFrame(updateAge)
    }
    updateAge()
  </script>
</div>
