<!-- TODO: add a last updated! -->
<footer style="text-align: center;">
  <i>
    <p>
      Website made by me using <a href="https://astro.build">Astro</a> and <a
        href="https://simplecss.org/">Simple CSS</a
      >.
    </p>
  </i>
</footer>
