<p>
  According to <a href="https://github.com/onsclom">GitHub</a>, I was last seen
  working on <a id="last-project" href="">loading...</a>
  <i id="time-ago"></i>
</p>
<script>
  import dayjs from "dayjs"
  import relativeTime from "dayjs/plugin/relativeTime"
  dayjs.extend(relativeTime)

  const request = await fetch(
    "https://api.github.com/users/onsclom/events/public"
  )
  const data = (await request.json()).filter(
    (event: any) => event.type === "PushEvent"
  )
  const lastCommit = data[0]
  const { repo, created_at } = lastCommit

  const lastProject = document.getElementById(
    "last-project"
  ) as HTMLAnchorElement
  const timeSpan = document.getElementById("time-ago") as HTMLSpanElement
  lastProject!.innerText = repo.name.split("/")[1]
  lastProject!.href = `https://github.com/onsclom/${repo.name.split("/")[1]}`

  timeSpan.innerText = dayjs(created_at).fromNow()
</script>
