---
const { title } = Astro.props;
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title + " / onsclom" : "onsclom.net"}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <main>
      <slot />
      <hr />
      <Footer />
    </main>
  </body>
</html>
