---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props
const formattedDate = new Date(frontmatter.pubDate).toLocaleDateString(
  "en-US",
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  }
)
---

<BaseLayout title={frontmatter.title}>
  <nav>
    <p>
      <a href="/"> 🏠 onsclom</a>
    </p>
  </nav>
  <hgroup>
    <h1>{frontmatter.title}</h1>
    <h2>Published {formattedDate}</h2>
  </hgroup>
  <slot />
</BaseLayout>

<style is:global>
  img {
    margin: auto;
    display: block;
  }

  iframe {
    margin: auto;
    display: block;
    padding-bottom: 1rem;
    max-width: 100%;
  }

  .twitter-tweet-rendered {
    margin: 0 auto;
    padding-bottom: 1rem;
  }
</style>
