---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props
---

<nav>
  <p>
    <a href="/"> 🏠 onsclom</a>
  </p>
</nav>

<BaseLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <slot />
</BaseLayout>

<style is:global>
  /* TODO: figure out better solution for high DPI images */
  img {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
  }
</style>
